body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

h1 {
    font-size: 22px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.leftimg {
    float:left; 
    margin: 7px 7px 7px 0;
}

.container {
    width: 970px;
}

.main-column {
    width: 625px;
    float: left;
    padding-top: 10px;
    /* padding: 0 10px 0 10px;*/
}

.right-column {
    width: 300px;
    margin-left: auto;
}

.dobro-birds {
    background-image: url("../images/foggy_birds.png");
}

.dobro-logo {
    height: 150px;
    margin: 10px 0px;
}

.dobro-back {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    padding: 0 10px 0 20px;
}

.dobro-back.news-wrap {
    padding-top: 1px;
}

.dobro-header {
    min-height: 60px;
}

.dobroheader-left {
    float: left;
}

.align-right {
    margin-left:auto;
    margin-right:0;
}

.dobroheader-right {
    margin-top: 20px;
}

.dobro-menu {
    background-color: #2a35b7;
    margin-bottom: 15px;
}

.dobro-content {
    min-height: 600px;
}

.dobro-footer {
    background-color: rgba(211, 211, 211, 0.31);
    min-height: 100px;
    padding-top: 15px;
    margin-top: 10px;
}

.relative {
    position: relative;
}

.dobro-search {
    width: 200px;
    margin-bottom: 10px;
}

.dobro-menu a {
    color: #fff;
}

.dobro-menu a:hover {
    color: #000;
}

.social-links {
    margin-bottom: 10px;
}

.social-links img {
    margin-left: 0px;
}

.btn, .form-control {
    border-radius: 0px;
}

.dobro-help-btn {
    background-color: #AF0006;
    color: white;
    width: 200px;
}

.dobro-help-btn:hover {
    background-color: #BF0008;
    color: white;
}

.footer-heart {
    position: absolute;
    right: 0px;
}

.dobro-news {
    font-size: 12px;
    line-height: 1.3em;
}

.dobro-news img {
    width: 64px;
    float: left;
    margin-right: 10px;
}

.dobro-one-news {
    border-bottom: grey 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

.submenu {
    margin-bottom: 10px;
    background-color: #e6eae9;
    padding: 0px;
}

.submenu-title {
    background-color: #2a35b7;
    padding: 10px 10px 1px 10px;
    font-size: 16px;
    color: #fff;
}

.submenu-title .arrowdown {
    margin-right: 5px;
}

.submenu-body {
    padding: 10px;
    background-color: #ECFBFF;
}

.submenu-body ul {
    list-style: none;
}

.submenu-body li {
    margin-bottom: 5px;
    margin-left: -30px;
}

.crsl-item {
    width: 170px;
    padding: 0 10px 0 10px;
    float: left;
}

.crsl-item p, .child-item p {
    font-size: 12px;
}

.crsl-item .info, .child-item .info {
    color: #AF0006;
}

.rob-carousel-body {
    position: relative;
    overflow: hidden;
    margin-right: 45px;
    margin-left: 45px;
}

.crsl-items {
    position: relative;
    top: 0px;
    left: 0px;
    width: 10000px; /* calculate in javascript */
}

.rob-carousel-arrow-left {
    left: 0px;
}

.rob-carousel-arrow-right {
    right: 0px;
}

.rob-carousel-arrow {
    margin-top: 60px;
    font-size: 32px;
    position: absolute;
    cursor: pointer;
}

.rob-carousel-arrow:hover {
    color: darkgray;
}

.rob-carousel {
    margin-bottom: 10px;
    position: relative;
}

.child-item img {
    width: 178px;
    height: 151px;
}

.child-item {
    width: 198px;
    padding: 0 10px 0 10px;
    float: left;
}

.child-item .age {
    margin: 0;
    color: gray;
}

.main-column {
    min-height: 600px;
}

.main-column .category-desc > p, 
.main-column div[itemprop="articleBody"] > p {
    text-indent: 20px;
    line-height: 1.5em;
}

.main-column h1,
.main-column h2,
.main-column h3,
.main-column h4,
.main-column h5 {
    text-indent: 20px;
}

.main-column li {
    margin-bottom: 10px;
}

.main-column em {
    font-weight: 600;
    font-style: normal;
}

.team-wrap div {
    margin: 10px 30px 20px 50px;
}

.boxplus-dialog {
  width: auto !important;
}


.dobro-personal .personal-content {
    text-indent: 20px;
}

.dobro-personal .img-thumbnail {
    float: left;
    margin: 0 10px 10px 0;
}

.personal-info {
    line-height: 1.7em;
    display: table;
}

.personal-info > * {
    display: table-cell;
}

.personal-info .info-title {
    font-weight: 900;
    width: 150px;
}

.personal-header {
    padding-top: 10px;
    border-top: 1px solid #d0d0d0;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
}

.dobro-btn-donate {
    width: inherit;
    float: right;
}

.dobro-news .dobro-one-news:last-child {
    border: 0;
}

.right-column .dobro-back,
.news-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
}

.right-column .dobro-back h3 {
  margin-top: 0;
}
